@import url('../../index.css');

.counter-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    /* padding: 1rem; */
    border: none;
}

.counter-button {
    cursor: pointer;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
}
